now i added this one to check

You can do that like this...
<div data-sly-test.yourName="${currentPage.name}" data-sly-unwrap></div>

Now you do things like
<div data-sly-test="${yourName}">....${yourName}</div>

contxt1

<div data-sly-use.info="${'com.myproject.services.core.use.PassingParameters'}">

     <p>${info.acti}</p>

context2
<div>
</div>

123
<div data-sly-use.info="${'com.myproject.services.core.use.PassingParameters' @ text='Mani kanta'}">
1234
    <h1>reverse Text: ${info.getReverseText}</h1>
		<h1>${info.lowerCaseTitle}</h1>
12345
<p>${info.lowerCaseDescription}</p>
    <p>${info.upperCaseText}</p>
</div>

<div data-sly-test="${wcmmode.edit}">Show this only in edit mode to the author</div>
<sly>currentPageName sly : ${currentPage.name}</sly>
<div>currentPageName div: ${currentPage.name}</div>

<div data-sly-test.author="${wcmmode.edit || wcmmode.design}">
    Show this to the author
</div>
<div data-sly-test="${!author}">
    Not in author mode anymore..
</div>



===
===
<div data-sly-test="${author==wcmmode.edit}">  </div>

edit---------------- mode

<div>path: ==
<sly data-sly-use.ppath="${'com.myproject.services.core.use.PagePath'}" />
</div>
ggggggggggg

<p>${ppath.getPageValue}</p>

<div>currentPageName: ${currentPage.name}</div>



<!-- ARTICLE 1 -->               
               <article class="post-1 line">
                  <!-- image -->                 
                  <div class="s-12 l-6 post-image">                   
                     <a href="post-1.html">
                     <img src="${properties.ImagePath}" alt="Fashion 1">


                     </a>                
                  </div>
                  <!-- text -->                 
                  <div class="s-12 l-5 post-text">
                     <a href="post-1.html">
                        <h2>${properties.h2text}</h2>


                     </a>
                     <p>${properties.para} </p>



                  </div>
                  <!-- date -->                 
                  <div class="s-12 l-1 post-date">
                     <p class="date">${properties.date}</p>


                     <p class="month">${properties.mon}</p>

                  </div>
               </article>





<div data-sly-test="${author==wcmmode.design}"></div>

design------------ mode




<div>path: ==
<sly data-sly-use.ppath="${'com.myproject.services.core.use.PagePath'}" />
</div>
ggggggggggg

<p>${ppath.getPageValue}</p>

<div>currentPageName: ${currentPage.name}</div>



<!-- ARTICLE 1 -->               
               <article class="post-1 line">
                  <!-- image -->                 
                  <div class="s-12 l-6 post-image">                   
                     <a href="post-1.html">

                     <img src="${currentStyle.ImagePath}" alt="Fashion 1">

                     </a>                
                  </div>
                  <!-- text -->                 
                  <div class="s-12 l-5 post-text">
                     <a href="post-1.html">

                          <h2>${currentStyle.h2text}</h2>

                     </a>

                     <p>${currentStyle.para} </p>


                  </div>
                  <!-- date -->                 
                  <div class="s-12 l-1 post-date">

                      <p class="date">${currentStyle.date}</p>


                     <p class="month">${currentStyle.mon}</p>
                  </div>
               </article>


