


hi am aside banner Component


attrMap = {
    title: "myTitle",
    class: "myClass",
    id: "myId"
}

hi am aside banner Component

<div data-sly-attribute="${attrMap}"></div>



hi am aside banner Component



<!--hi am aside banner Component

<sly data-sly-test='${wcmmode.edit}'>
I am in Edit Mode Manikanta
			</sly>




<!-- AD REGION -->     
		<div class="s-12 ">
               <aside>
                  <div class="advertising margin-bottom">
                     <img src="${properties.ImagePath}" alt="${Properties.imagealt}">         
                  </div>
               </aside>



-->