<div>path: ==
<sly data-sly-use.ppath="${'com.myproject.services.core.use.PagePath'}" />
</div>
ggggggggggg

<p>${ppath.getPageValue}</p>


               <!-- ARTICLE 2 -->            
               <article class="post-2 right-align line">
                  <!-- image -->                 
                  <div class="s-12 l-6 post-image">                   
                     <a href="post-2.html">
                      <img src="${properties.ImagePath}" alt="Fashion 2">
                     </a>                
                  </div>
                  <!-- text -->                 
                  <div class="s-12 l-5 post-text">
                     <a href="post-2.html">
                        <h2>${properties.h2text}</h2>
                     </a>
                     <p>${properties.para} </p>             

                  </div>
                  <!-- date -->                 
                  <div class="s-12 l-1 post-date">
                     <p class="date">${properties.date}</p>
                     <p class="month">${properties.mon}</p>
                  </div>
               </article>